streamlit
pandas
plotly
seaborn
matplotlib
wordcloud
textblob
scikit-learn
nltk
spacy
es-core-news-md @ https://github.com/explosion/spacy-models/releases/download/es_core_news_md-3.7.0/es_core_news_md-3.7.0.tar.gz
pymongo
python-dotenv
