pandas
plotly
seaborn
matplotlib
wordcloud
textblob
scikit-learn
nltk
streamlit==1.32.2
spacy==3.7.2
thinc==8.2.1
numpy==1.24.4
es-core-news-md @ https://github.com/explosion/spacy-models/releases/download/es_core_news_md-3.7.0/es_core_news_md-3.7.0.tar.gz
pymongo
python-dotenv
